<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "\classes\log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="TxtAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="C:/Java/workspace/EpamWebProjectHostelAlexNastin/log/hostelLog.txt"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss.SSS} [%p] - %m%n" />
		</layout>
	</appender>
	<logger name="app6">
		<level value="info" />
	</logger>
	<root>
		<appender-ref ref="TxtAppender" />
	</root>
</log4j:configuration>